<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="barSide" id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light" >
        <div class="position-sticky pt-3">
            <ul class="nav flex-column ps-5">
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" th:href="@{/inventory/viewInventory}">
                        <i class="fa-solid fa-network-wired"></i>
                        Inventory
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"  th:href="@{/order/view}">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Order
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link text-dark" th:href="@{/customer/toView}">
                        <i class="fa-solid fa-user"></i>
                        Customer
                    </a>
                </li>
<!--                <li class="nav-item">-->
<!--                <i class="fa-solid fa-box"></i>-->
<!--                    <a class="nav-link text-dark" th:href="@{/}">-->
<!--                        <i class="fa-solid fa-cart-shopping"></i>-->
<!--                        Products-->
<!--                    </a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/index}">
                        <i class="fa-solid fa-chart-line"></i>
                        Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/index}">
                        <i class="fa-solid fa-layer-group"></i>
                        Payment Options
                    </a>
                </li>
            </ul>
        </div>
    </div>
</html>