<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netzwerk Home</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <style>
        .centered-message {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            font-size: 1.5rem;
            color: #007bff;
            font-weight: bold;
        }
    </style>

</head>

<body>
<div th:replace="~{fragments/navbar.html :: barNav}"></div>
<div class="d-flex">
    <div th:replace="~{fragments/sidebar.html :: barSide}"></div>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="centered-message">
            Please choose the operation to be performed from the sidebar.
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footerBar}"></div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>
</html>